[submodule "vim"]
	path = vim
	url = https://github.com/JustinHoyt/.vim
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "map"]
	path = map
	url = https://github.com/soveran/map
	ignore = dirty
[submodule "gnu_parallel"]
	path = gnu_parallel
	url = https://github.com/JustinHoyt/gnu_parallel
	ignore = dirty
[submodule "tpm"]
	path = tpm
	url = ./tpm
